.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 400px;
    width: 400px;
    border: solid #8B0000 1px;
    margin: 10px;
    position: relative;
}

.img:hover {
    border: solid #CD5C5C 2px;
    margin: 9px;
}

.titulo {
    color: #8B0000;
}

.titulo:hover {
    color: #CD5C5C;
}

.titulo2 {
    color: #8B0000;
}

.titulo2:hover {
    color: #CD5C5C;
}